.form-horizontal .checkbox {
  padding-top: 0;
}

.well {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  border-bottom-width: 2px;
  margin: 0 4px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}